# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment files
.env
.env.*
!.env.example
intellectshop-4cdb59479511.json
client_secret_296343870620-o8qtofbu3rtlev66od57icoog63g0ncl.apps.googleusercontent.com.json
ga4-oauth-client.json
.ga4-oauth-token.json
